.addbannerContainer{
    width: 420px;
    position:relative;
    z-index: -2;
    margin-top: 10px;
}
.addbannerContainer img{
    padding: 7px;
    width: 100%;
    border-radius: 20px;
}
.addText{
    position:  absolute;
   
    top:1px;
    color: aliceblue;
    z-index: -1;
}