.navbarMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  position: sticky;
  top :0;
  z-index: 999;
}

.navbarContainer {
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.navbarLogoContainer {
  width: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.navbarLogoFa {
  font-size: 30px;
  color: #fbffb1;
}

.navbarLogo {
  font-weight: 600;
  color: #fbffb1;
}

.navbarMidSec {
  display: flex;

  width: 40%;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 24px;
}
.navbarSearchIcon {
  font-size: 15px;
  color: rgb(31, 187, 187);
  padding: 5px;
  cursor: pointer;
}
.navbarMidSec input {
  background-color: inherit;
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 20px;
}
.navbarMidSec input:focus {
  border: none;
  outline: none;
}

.navbarRightSec {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarRightSecLeft {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.navbarRightSecText {
  color: #fbffb1;
}

.navbarRightMidSec {
  display: flex;
  justify-content: space-between;
  width: 20%;

  align-items: center;
}
.navbarBadge {
  position: relative;
}
.badge {
  top: 2px;
  right: 0.5px;
  position: absolute;
  background-color: red;
  font-size: 10px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
}

.navbarRightSecRight {
  width: 180px;
  height: 50px;
  border-radius: 50%;
  display: flex;
}

.navbarRightSecRight img {
 
  width: 40px;
  height: 45px;
  border-radius: 60%;
  object-fit:cover;
  margin-right: 10px;
}
.noTD{
  text-decoration: none;
}
